.loginBox{
  border-radius: 15px;
  padding: 10px;
  margin-top: 30%;
  background-color: #DB7093;
}

.login-form {
  padding: 5px;
  width: 100%;
  border: 1px solid  #808080;
  border-radius: 5px;
}
.login-buttom{
  margin-top: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}
