<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="loginBox">
        <label><b>E-mail</b></label>
        <input type="text" class="login-form" aria-label="Email" aria-describedby="basic-addon1">
        <label><b>Senha</b></label>
        <input type="text" class="login-form" aria-label="Password" aria-describedby="basic-addon1">
        <button type="button" class="btn btn-success login-buttom">ENTRAR</button>
      </div>
    </div>
  </div>
</div>
